@import "tailwindcss";
/* Base light theme */
:root {
  --color-primary: #caf0f8;
  --color-secondary: #4abed2;
  --color-tertiary: #43a047;
  --color-main: #ffffff;
  --color-text-primary: #212121;
  --color-text-secondary: #757575;
}

/* Dark theme overrides */
.dark {
  --color-primary: #1e88e5;
  --color-secondary: #ffb300;
  --color-tertiary: #43a047;
  --color-main: #1a1a1a;
  --color-text-primary: #f1f1f1;
  --color-text-secondary: #b0b0b0;
}

@keyframes rotateSlider {
  0% {
    transform: perspective(1000px) rotateY(0deg);
  }
  100% {
    transform: perspective(1000px) rotateY(360deg);
  }
}

.animate-rotate {
  animation: rotateSlider 30s linear infinite;
  transform-style: preserve-3d;
}